{
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "trailingComma": "all",
    "useTabs": true,
    "tabWidth": 4,
    "arrowParens": "always",
    "endOfLine": "auto",
    "bracketSameLine": false
}